@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Open+Sans&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@300&display=swap');

html {
    height: 100%;
}

body {
    --bg-main: rgb(40, 41, 40);
    --fg-main: rgb(224, 224, 224);
    --accent-1: rgb(76, 149, 108);
    --accent-2: rgb(254, 142, 72);
    --bg-focus: rgb(71, 72, 71);
    --fg-subtle: rgb(153, 153, 153);
    --raleway: 'Raleway', sans-serif;
    --cinzel: 'Cinzel Decorative', cursive;
    --mono: 'Red Hat Mono', monospace;
    background-color: var(--bg-main);
    color: var(--fg-main);
    font-family: var(--raleway);
    margin: 0;
    height: 100%;
}

.content {
    height: 100%;
}

.header {
    width: 100%;
    display: inline-flex;
    padding: 0.5em 0 0 0;
}

main {
    height: 90%;
}

.title {
    font-family: var(--raleway);
    display: flex;
    position: relative;
    color: var(--accent-1);
    font-size: 2.5rem;
    z-index: 2;
    padding: 0.1em 0.5em;
}

.title a {
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}

nav {
    background-color: var(--accent-1);
    position: relative;
    display: flex;
    gap: 1.5em;
    padding: 1em;
    z-index: 2;
    margin: 0 0 1em 0;
    border-radius: 0.3rem 0 0 0.3em;
    width: 100%;

    & a {
        color: var(--bg-main);
        text-decoration: none;
        font-weight: bolder;
        font-size: large;
    }
}

a {
    color: var(--accent-2);
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

input, textarea {
    border-radius: 0.3rem;
    background-color: var(--fg-main);
}

.navitem {
    display: flex;
}

.page {
    display: flex;
    flex-direction: column;
    padding: 0em 5em;
    height: 100%;
}

.work-card {
    margin: 1rem 3rem;
    padding: 0.1% 2%;
    border-radius: 0.4rem;
    box-shadow: 0pt 0pt 3px var(--fg-subtle);
}

.codeblock {
    background-color: var(--bg-focus);
    font-family: var(--mono)
}

.quote {
    background-color: var(--bg-focus);
    font-family: var(--raleway);
    font-style: italic;
}

button {
    padding: 10px;
    background-color: var(--accent-2);
    font-weight: bolder;
    border-radius: .4rem;

    &:hover {
        cursor: pointer;;
    }
}
